
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Estilos/botonmodal.css" rel="stylesheet" type="text/css">
    <link href="//db.onlinewebfonts.com/c/4bc98977ba557db3b2f5bb66bff54e25?family=Champagne+&+Limousines" rel="stylesheet" type="text/css" />
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <script>

        function myFunction1() {
            var x = document.getElementById("demo").value;
            window.open(x);
        }

        function myFunction2() {

            var x = document.getElementById("demo1").value;
            window.open(x);
            //document.getElementById("myImg").src = "https://zoom.us/wc/" + x + "/join?prefer=1&un=Users";

        }
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Scripts/menu.js"></script>
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>CEMAQ - Diplomados</title>
    <link rel="stylesheet" type="text/css" href="~/Estilos/Maestra.css" />
    <link rel="icon" type="image/gif" href="~/Imagenes/CAPYBARA_TOGA.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.AntiForgeryToken()
    @{
        Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
        Plataforma_academica.Models.Permisos_Menu menu = new Plataforma_academica.Models.Permisos_Menu();
        Plataforma_academica.Models.Permisos_Menu[] arreglo;
        Plataforma_academica.Models.principalP principal = new Plataforma_academica.Models.principalP();
        Plataforma_academica.Models.principalP[] arreglop;
        Plataforma_academica.Models.Niveles nivel = new Plataforma_academica.Models.Niveles();
        Plataforma_academica.Models.Niveles[] arreglo_nivel;
        Plataforma_academica.Models.Unidades unidad = new Plataforma_academica.Models.Unidades();
        Plataforma_academica.Models.Unidades[] arreglo_unidad;
        Plataforma_academica.Models.Actividades_unidad actividad = new Plataforma_academica.Models.Actividades_unidad();
        Plataforma_academica.Models.Actividades_unidad[] arreglo_actividad;
        Plataforma_academica.Models.Actividades_unidad[] arreglo_examen;
        Plataforma_academica.Models.Unidades[] arreglo_docente;
        Plataforma_academica.Models.Porcentaje_usuario porcentaje = new Plataforma_academica.Models.Porcentaje_usuario();

    }

    <header>
        <!-- Menu Header  -->
        <nav class="navbar" id="head">
            <!--Logo -->
            <a href="javascript:" onclick="window.open('https://cemaq.com.co/');" class="navbar-brand icono">
                <img src="~/Imagenes/Iconos/Logotipo001.png">
            </a>
            <!-- Checkbox Color  -->
            <div class="slidermodo">
                <button class="switch" id="switch">
                    <span><i class="fas fa-sun"></i></span>
                    <span><i class="fas fa-moon"></i></span>
                </button>

            </div>
            <!-- Informacion del usuario  -->
            <div class="info">
                <div class="p-2">
                    <img class="perfil" src="~/Imagenes/@usu.foto">
                </div>
                <div class="p-2 nombre">
                    @{
                        if (usu != null)
                        {

                            if (Convert.ToInt32(usu.rol) < 4 || Convert.ToInt32(usu.rol) > 6)
                            {
                                <div>
                                    @Html.LabelFor(Model => usu.Nombre, usu.Nombre, new { @class = "" })
                                </div>

                                <div>
                                    @Html.LabelFor(Model => usu.Tipo_rol, usu.Tipo_rol, new { @class = "" })
                                    @Html.LabelFor(Model => usu.tipo_sangui, usu.tipo_sangui, new { @class = "" })
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Html.LabelFor(Model => usu.Nombre, usu.Nombre, new { @class = "" })
                                </div>

                                <div>
                                    @Html.LabelFor(Model => usu.Tipo_rol, usu.Tipo_rol, new { @class = "" })
                                    @Html.LabelFor(Model => usu.tipo_sangui, usu.tipo_sangui, new { @class = "" })
                                </div>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Plataforma Academica", "Login", "Login")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        }
                    }
                </div>
                <!--Contenedor del Menu izq-->
                <nav class="contenido ">
                    <!-- header nav-->
                    <div class="logo exterior" id="arriba">
                        <a>
                            <span class="fas fa-bars"></span>
                        </a>
                    </div>
                    <!-- contenido nav-->
                    <div class="lista-menu" id="menu">
                        <nav>

                            @{
                                if (usu != null)
                                {

                                    arreglo = menu.ConsultarMenu(usu.rol);

                                    for (int i = 0; i < arreglo.Length; i++)
                                    {
                                        <div class="opcion">
                                            <a style="color: white;">
                                                <img src="~/Imagenes/CAPYBARA_TOGA.png" /> @Html.ActionLink(arreglo[i].nombre, arreglo[i].accion, arreglo[i].controlador)
                                            </a>
                                        </div>

                                    }

                                }
                                else
                                {
                                    <li>@Html.ActionLink("Plataforma Academica", "Login", "Login")</li>
                                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                                }
                            }
                            @{
                                if (usu != null)
                                {
                                    if (Convert.ToInt32(usu.rol) < 4 || Convert.ToInt32(usu.rol) > 6)
                                    {

                                        @*<img src="~/Imagenes/bell-solid.svg" style="width: 22px; height: 27px;padding: 1%;margin-left: 2%; margin-right: 2%;" data-toggle="modal" data-target="#myModal" />
                                            <a href="https://zoom.us/signin" target="_blank">
                                                <img src="~/Imagenes/video-solid.svg" style="width: 22px; height: 27px;padding: 1%;margin-left: 2%; margin-right: 2%;" />
                                            </a>
                                            <a href="http://pizarravirtualamazoniantic.azurewebsites.net/" target="_blank">
                                                <img src="~/Imagenes/chalkboard-teacher-solid.svg" style="width: 27px;padding: 1%; height: 27px;margin-left: 2%; margin-right: 2%;" />
                                            </a>*@
                                        <div class="opcion">

                                            <a href="/Editar_perfil/Editar_perfil">
                                                <img src="~/Imagenes/CAPYBARA_TOGA.png" data-toggle="modal" data-target="#myModal" /> Editar Perfil
                                            </a>
                                        </div>


                                    }
                                    else
                                    {
                                        @*<img src="~/Imagenes/bell-solid.svg" style="width: 22px; height: 27px;padding: 1%;margin-left: 2%; margin-right: 2%;" />*@
                                        @*<a href="#"><img src="~/Imagenes/video-solid.svg" style="width: 22px; height: 27px;padding: 1%;margin-left: 2%; margin-right: 2%;" data-toggle="modal" data-target="#myModal1" /></a>
                                            <a href="#"><img src="~/Imagenes/chalkboard-teacher-solid.svg" style="width: 27px;padding: 1%; height: 27px;margin-left: 2%; margin-right: 2%;" data-toggle="modal" data-target="#myModal2" /></a>*@

                                        <div class="opcion">

                                            <a href="/Editar_perfil/Editar_perfil">
                                                <img src="~/Imagenes/CAPYBARA_TOGA.png" /> Editar PErfil
                                            </a>
                                        </div>
                                    }
                                }
                            }
                            <div class="opcion">
                                <hr />
                                <a href="/Login/cerrarsesion">
                                    <img src="~/Imagenes/CAPYBARA_TOGA.png" /> Cerrar Sesion
                                </a>
                            </div>

                        </nav>
                    </div>

                </nav>

            </div>
        </nav>
    </header>

    <!-- Contenedor para despues del Header -->

    <main class="principal" id="contenedor">
        <!-- Menu izq  -->
        <div class="menu-izq" id="menuizq">
            @{
                if (usu != null)
                {
                    <section class="buscar">
                        <div id="bus">
                            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Buscar">
                            <script>
                                $(document).ready(function () {
                                    $("#myInput").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#myTable li").filter(function () {
                                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                        });
                                    });
                                });
                            </script>
                        </div>
                        <div id="ocultar">
                            <span class="fas fa-bars"></span>
                        </div>
                    </section>
                    <section class="botones" id="myTable">
                        @{
                            if (Convert.ToInt32(usu.rol) == 4)
                            {
                                arreglop = principal.Buscar_Cursos_Diplomados_Estudiante(usu.cedula);
                                if (arreglop.Length == 0)
                                {
                                    <script> window.location.href ='@Url.Action("Principal_todos", "Principal_todos")'; </script>
                                    //aqui debe ir el recogido
                                }
                                <!--Estudiante-->
                                using (Html.BeginForm("principalplataforma", "PrincipalPlataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    if (arreglop.Length == 0)
                                    {
                                        <script> window.location.href ='@Url.Action("Principal_todos", "Principal_todos")'; </script>
                                    }
                    <ul>
                        @{
                            for (int i = 0; i < arreglop.Length; i++)
                            {
                                if (DateTime.Today < arreglop[i].fecha_cierre)
                                {
                                    TimeSpan dias_faltantes = arreglop[i].fecha_cierre - DateTime.Today;
                                    if (i % 5 == 0)
                                    {
                                        <li class="titulo" onclick="mostrarmodulo(@arreglop[i].codigo_curso)">
                                            <div class="content-btn">
                                                <section class="izq"></section>
                                                <section class="cent">
                                                    <!--<p class="nom" style="font-weight: bold;">@arreglop[i].nombre_curso</p>-->
                                                    <p class="nom">@arreglop[i].nombre_curso</p>
                                                    <div class="progress ">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped " style="width:@arreglop[i].porcentaje_diplomado% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                                            <h6 class="porcentaje">@arreglop[i].porcentaje_diplomado%</h6>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="der">
                                                    <span class="msjem">@Convert.ToInt32(dias_faltantes.Days) dias</span>
                                                </section>
                                            </div>
                                        </li>
                                        <li class="modulo" id="hola" value="@arreglop[i].codigo_curso">
                                            <button type="submit" class="boton" name="irrr" value="@arreglop[i].codigo_curso_nivel">
                                                <div class="content-btn">
                                                    <section class="izq"></section>
                                                    <section class="cent">
                                                        <p class="nom">@arreglop[i].nombre_unidad</p>
                                                    </section>
                                                </div>
                                            </button>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="modulo" id="hola" value="@arreglop[i].codigo_curso">
                                            <button type="submit" class="boton" name="irrr" value="@arreglop[i].codigo_curso_nivel">
                                                <div class="content-btn">
                                                    <section class="izq"></section>
                                                    <section class="cent">
                                                        <p class="nom">@arreglop[i].nombre_unidad</p>
                                                    </section>
                                                </div>
                                            </button>
                                        </li>
                                    }
                                }
                                else
                                {

                                }

                            }

                        }
                    </ul>

                                }
                            }

                            else
                            {
                                //if (Convert.ToInt32(usu.rol) > 0 && Convert.ToInt32(usu.rol) < 3)
                                //{
                                <!--Administrador y lideres-->
                                using (Html.BeginForm("seleccionar_unidad_para_contenido", "Seleccionar_para_subir_contenido", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


                                if (Convert.ToInt32(usu.rol) == 7)
                                {
                                    arreglop = principal.Buscar_diplomados_modulos_docente(usu.cedula);
                                }
                                else
                                {
                                    arreglop = principal.Buscar_diplomados_modulos_general();
                                }
                                <ul>
                                    @{
                                        for (int i = 0; i < arreglop.Length; i++)
                                        {
                                            if (i % 5 == 0)
                                            {
                                                
                                                    <li class="titulo" onclick= "mostrarmodulo(@arreglop[i].codigo_curso)">
                                                        <div class="content-btn">
                                                            <section class="izq"></section>
                                                            <section class="cent">
                                                                <p class="nom" style="font-weight: bold;">@arreglop[i].nombre_curso</p>
                                                            </section>
                                                        </div>
                                                    </li>
                                                    <li class="modulo" id="hola" value="@arreglop[i].codigo_curso">
                                                        <button type="submit" class="boton" name="ir3" value="@arreglop[i].codigo_unidad">
                                                            <div class="content-btn">
                                                                <section class="izq"></section>
                                                                <section class="cent">
                                                                    <p class="nom">@arreglop[i].nombre_unidad</p>
                                                                </section>
                                                            </div>
                                                        </button>
                                                    </li>
                                            
                                            }
                                            else
                                            {
                                                <li class="modulo" id="hola" value="@arreglop[i].codigo_curso">
                                                    <button type="submit" class="boton" name="ir3" value="@arreglop[i].codigo_unidad">
                                                        <div class="content-btn">
                                                            <section class="izq"></section>
                                                            <section class="cent">
                                                                <p class="nom">@arreglop[i].nombre_unidad</p>
                                                            </section>
                                                        </div>
                                                    </button>
                                                </li>
                                            }


                                        }
                                    }
                                </ul>                              
                              }
                                //}
                            }
                        }
                    </section>
                }
            }



        </div>

        <!-- Menu Derecho
        <nav class="menu-der">
            <ul class="contenido list-group">
            </ul>
        </nav>

            -->
        <!-- Contenedor Seleccionar_unidad  -->
        <div class="contenedor" id="container">
            <img class="onda" src="~/Imagenes/Iconos/ondas.png"/>
            @RenderBody()
        </div>


    </main>


    <script src="~/Scripts/Menuprincipal.js"></script>
    <script src="~/Scripts/Menumodulo.js"></script>
    <script src="~/Scripts/Menu-izq.js"></script>
    <script>
        AjustarTextArea();
        function AjustarTextArea() {
            var tx = document.getElementsByTagName('textarea');
            for (var i = 0; i < tx.length; i++) {
                tx[i].style.height = (tx[i].scrollHeight) + 'px';
                console.log(tx[i].scrollHeight)
            }
        }
    </script>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script src="~/Scripts/Modooscuro.js"></script>
</body>


</html>


<!--

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog" style="position: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="position: absolute;">VideoConferencia en Zoom</h4>
            </div>
            <div class="modal-body">
                <p>Ingrese el link proporcionado por el docente para acceder a la conferencia</p>
                <input type="text" id="demo1" class="form-control" />
            </div>
            <div class="modal-footer">
                <button class="btn1 btn1-dark" style="color: white;" onclick="myFunction2()">Acceder a reunionvirtual</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog" style="position: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="position: absolute;">Pizarra Virtual</h4>
            </div>
            <div class="modal-body">
                <p>Ingrese el link propocionado por el docente para acceder a la clase en la pizarra virtual</p>
                <input type="text" id="demo" class="form-control" />
            </div>
            <div class="modal-footer">
                <button class="btn1 btn1-dark" style="color: white;" onclick="myFunction1()">Acceder a Pizarra</button>
            </div>
        </div>
    </div>


</div>-->
