@model Plataforma_academica.Models.Diplomados_matriculados

@{
    ViewBag.Title = "Diplomados_matriculados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <link href="~/Estilos/Maestra.css" rel="stylesheet" type="text/css">
        <link href="~/Estilos/principal.css" rel="stylesheet" type="text/css">
        <link href="~/Estilos/tabla.css" rel="stylesheet" type="text/css">
    </head>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
    Plataforma_academica.Models.Diplomados_matriculados principal = new Plataforma_academica.Models.Diplomados_matriculados();
    Plataforma_academica.Models.Diplomados_matriculados[] arreglo;
    int f = 0;
    <main class="con_form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{
            if (usu != null)
            {
                arreglo = principal.Buscardiplomadosdescargar(usu.usuario);                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Diplomado</th>
                            <th scope="col">Porcentaje</th>
                            <th scope="col">Test</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <h6 class="parpadeo"><strong>Para descargar su certificado debe haber realizado el pago del mismo, el cumplimiento del 100% del porcentaje y realizado el test</strong></h6>
                        </tr>
                        @{
                            for (int i = 0; i < arreglo.Length; i++)
                            {
                                f = f + 1;
                                <tr style="text-align: center;">
                                    <td>@f</td>
                                    <td>@arreglo[i].nombre_curso</td>
                                    <td>@arreglo[i].porcentaje%</td>
                                    <td>@arreglo[i].examen</td>
                                    <td>@arreglo[i].estado_pago</td>                                    
                                    @{
                                        if (Convert.ToDouble(arreglo[i].porcentaje) >= 100 && arreglo[i].estado_pago == "Pagado")
                                        {
                                            <td><button class="buton" name="ir" value="@arreglo[i].id_curso">Abrir</button></td>
                                        }
                                        else
                                        {
                                            <td><button class="buton" disabled="disabled">Pendiente</button></td>
                                        }
                                    }
                                    
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            }
        }
    </main>        
            }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
