@model Plataforma_academica.Models.principalP


@{
    ViewBag.Title = "principalplataforma";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Estilos/principal.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/submenu.css" rel="stylesheet" type="text/css">
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
    Plataforma_academica.Models.principalP principal = new Plataforma_academica.Models.principalP();
    Plataforma_academica.Models.principalP[] arreglo;
    Plataforma_academica.Models.Niveles nivel = new Plataforma_academica.Models.Niveles();
    Plataforma_academica.Models.Niveles[] arreglo_nivel;
    Plataforma_academica.Models.Unidades unidad = new Plataforma_academica.Models.Unidades();
    Plataforma_academica.Models.Unidades[] arreglo_unidad;
    Plataforma_academica.Models.Actividades_unidad actividad = new Plataforma_academica.Models.Actividades_unidad();
    Plataforma_academica.Models.Actividades_unidad[] arreglo_actividad;
    Plataforma_academica.Models.Actividades_unidad[] arreglo_examen;

    <main class="con_form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <!--Cursos-->
                <div class="col-sm-4">
                    <h4>Cursos</h4>
                    <nav>
                        <ul>
                            @{
                                if (usu != null)
                                {

                                    arreglo = principal.BuscarCursos(usu.cedula);

                                    for (int i = 0; i < arreglo.Length; i++)
                                    {
                                        <li>
                                            <button type="submit" class="btn btn-info btn-sm btn-block" name="ir" value="@arreglo[i].codigo_curso">
                                                <span class="glyphicon glyphicon-book"></span>
                                                @arreglo[i].nombre_curso
                                            </button>
                                        </li>
                                    }
                                }
                            }

                        </ul>
                    </nav>
                </div>
                <!-- Nivel -->
                <div class="col-sm-4">
                    <h4>Nivel</h4>
                    <nav>
                        <ul>
                            @{
                                if (TempData["mensaje1"] != null && usu != null)
                                {
                                    TempData.Keep("mensaje1");
                                    nivel.codigo_nivel = Convert.ToString(TempData["mensaje1"]);
                                    arreglo_nivel = nivel.Consultar_niveles_usuario(nivel,usu.usuario);

                                    for (int i = 0; i < arreglo_nivel.Length; i++)
                                    {
                                        <li>
                                            <button type="submit" class="btn btn-info btn-sm btn-block" name="irr" value="@arreglo_nivel[i].codigo_nivel">
                                                <span class="glyphicon glyphicon-stats"></span>
                                                @arreglo_nivel[i].nombre_nivel
                                            </button>
                                        </li>

                                    }
                                }
                                else
                                {
                                    <li><a>Elija un Curso</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
                <!-- Barra Progreso -->
                <div class="col-sm-4_1">
                    <h4>Progreso</h4>
                    <div class="dropdown">
                        <ul class="dropdown-menu1 multi-level" role="menu" style="width: 278%; border-radius: 11px;" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">
                                    <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                                            <div class="progress-value">80%</div>
                                        </div>
                                        <h6>Progreso Ingles</h6>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#">
                                            <div class="progress-outer">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                                                    <div class="progress-value">80%</div>
                                                </div>
                                                <h6>Progreso Ingles</h6>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="#">
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                                                            <div class="progress-value">80%</div>
                                                        </div>
                                                        <h6>Progreso Ingles</h6>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                        <div class="progress-outer">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                                                                <div class="progress-value">80%</div>
                                                            </div>
                                                            <h6>Progreso Ingles</h6>
                                                        </div>
                                                    </li>
                                                </ul>
                                           </li>
                                  </ul>
                            </li>
                        </ul>
                      </li>
                    </ul>
                    </div>
                </div>               

                <!--Unidades-->
                <div class="col-sm-4">
                    <h4>Unidades</h4>
                    <nav>
                        <ul>
                            @{
                                if (TempData["mensaje2"] != null && usu != null)
                                {
                                    TempData.Keep("mensaje2");
                                    string nc = Convert.ToString(TempData["mensaje2"]);
                                    arreglo_unidad = unidad.Consultar_unidades_usuario(nc, usu.usuario);

                                    for (int i = 0; i < arreglo_unidad.Length; i++)
                                    {
                                        <li>
                                            <button type="submit" class="btn btn-info btn-sm btn-block" name="irrr" value="@arreglo_unidad[i].codigo_unidad">
                                                <span class="glyphicon glyphicon-th-large"></span>
                                                @arreglo_unidad[i].nombre_unidad
                                            </button>
                                        </li>

                                    }
                                }
                                else
                                {
                                    <li><a>Elija un Nivel</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
                <!--Actividades-->
                <div class="col-sm-4">
                    <h4>Actividades</h4>
                    <nav>
                        <ul>
                            @{
                                            if (TempData["mensaje3"] != null && usu != null)
                                            {
                                                TempData.Keep("mensaje3");
                                                string nc = Convert.ToString(TempData["mensaje3"]);
                                                arreglo_actividad = actividad.Consultar_Actividad_usuario(nc,usu.usuario);
                                                arreglo_examen = actividad.Consultar_examen_usuario(nc, usu.usuario);
                                                for (int i = 0; i < arreglo_actividad.Length; i++)
                                                {
                                                  <li>
                                                     <button type="submit" class="btn btn-info btn-sm btn-block btn-actividad " name="irrrr" value="@arreglo_actividad[i].codigo_actividad">
                                                     <span class="glyphicon glyphicon-lock"></span>
                                                     @arreglo_actividad[i].nombre_actividad
                                                     </button>
                                                  </li>
                                                }
                                                 for (int i = 0; i < arreglo_examen.Length; i++)
                                                {
                                                    <li>
                                                    <button type="submit" class="btn btn-info btn-sm btn-block btn-actividad " name="irrrr5" value="@arreglo_examen[i].id_examen">
                                                    <span class="glyphicon glyphicon-list-alt"></span>
                                                    @arreglo_examen[i].examen
                                                    </button>
                                                    </li>
                                                }
                                            }
                                else
                                {
                                    <li><a>Elija un Nivel</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
}
<footer>
    <p>&copy; @DateTime.Now.Year - Amazonian Language Tic</p>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
