@model Plataforma_academica.Models.principalP


@{
    ViewBag.Title = "principalplataforma";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Estilos/principal.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/escritos.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/modal_presentacion.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>


@using (Html.BeginForm("principalplataforma", "PrincipalPlataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
    Plataforma_academica.Models.principalP principal = new Plataforma_academica.Models.principalP();
    Plataforma_academica.Models.principalP[] arreglo;
    Plataforma_academica.Models.Niveles nivel = new Plataforma_academica.Models.Niveles();
    Plataforma_academica.Models.Niveles[] arreglo_nivel;
    Plataforma_academica.Models.Unidades unidad = new Plataforma_academica.Models.Unidades();
    Plataforma_academica.Models.Unidades[] arreglo_unidad;
    Plataforma_academica.Models.Actividades_unidad actividad = new Plataforma_academica.Models.Actividades_unidad();
    Plataforma_academica.Models.Actividades_unidad[] arreglo_actividad;
    Plataforma_academica.Models.Actividades_unidad[] arreglo_examen;
    Plataforma_academica.Models.Unidades[] arreglo_docente;
    Plataforma_academica.Models.Porcentaje_usuario porcentaje = new Plataforma_academica.Models.Porcentaje_usuario();
    //Plataforma_academica.Models.Porcentaje_usuario[] arreglo_porcentaje;
    //Plataforma_academica.Models.Porcentaje_usuario[] arreglo_porcentaje_nivel;
    //Plataforma_academica.Models.Porcentaje_usuario[] arreglo_porcentaje_unidad;
    //Plataforma_academica.Models.Porcentaje_usuario[] arreglo_porcentaje_actividad;
    //Plataforma_academica.Models.Porcentaje_usuario[] arreglo_porcentaje_examen;

<main class="con_form">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Diplomados-->
    <button class="contenercheck first">
        <span>
            <p>Diplomados</p>
        </span>
    </button>

    <div class="contener">
        @{
            if (usu != null)
            {

                arreglo = principal.BuscarCursos(usu.cedula);
                if (arreglo.Length == 0)
                {
                    <script> window.location.href ='@Url.Action("Principal_todos", "Principal_todos")'; </script>
                }

                for (int i = 0; i < arreglo.Length; i++)
                {
                    <button type="submit" class="boton" name="ir" value="@arreglo[i].codigo_curso">
                        <div class="content-btn">
                            <img src="~/imagenes/@arreglo[i].url" />
                            <div class="progress ">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:@arreglo[i].porcentaje_diplomado% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                    <h6 class="porcentaje">@arreglo[i].porcentaje_diplomado%</h6>
                                </div>
                            </div>
                            <span>@arreglo[i].nombre_curso</span>
                        </div>
                    </button>
                }
            }
        }
    </div>
    <!--Modulos-->
    <button class="contenercheck">
        <span>
            <p>Modulos</p>
        </span>
    </button>

    <div class="contener">
        @{
            if (TempData["mensaje9"] != null && usu != null)
            {
                TempData.Keep("mensaje9");
                string nc = Convert.ToString(TempData["mensaje9"]);
                arreglo_unidad = unidad.Consultar_unidades_usuario(nc, usu.usuario);
                if (arreglo_unidad[0].presentacion == "saludar")
                {
                    @Scripts.Render("~/Scripts/Emerentelogin.js")
                }
                for (int i = 0; i < arreglo_unidad.Length; i++)
                {
                    if (i == 0)
                    {
                        <button type="submit" class="boton" name="irrr" value="@arreglo_unidad[i].codigo_unidad">
                            <div class="content-btn">
                                <img src="~/imagen_multimedia/Modulo.png" />
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:@arreglo_unidad[i].porcentaje_modulo% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                        <h6 class="porcentaje">@arreglo_unidad[i].porcentaje_modulo%</h6>
                                    </div>
                                </div>
                                <span>@arreglo_unidad[i].nombre_unidad</span>
                            </div>
                            <script>
                            var checkBox = document.getElementById("unidad");
                            checkBox.checked = "checked"
                            </script>
                        </button>
                    }
                    else
                    {
                        
                        if (Convert.ToInt32(arreglo_unidad[i-1].porcentaje_modulo) < 99)
                        {
                            <button type="submit" disabled="true" class="boton" value="@arreglo_unidad[i].codigo_unidad">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Modulo.png" />
                                    <span>Anterior modulo pendiente</span>
                                    <span>@arreglo_unidad[i].nombre_unidad</span>
                                </div>
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="boton" name="irrr" value="@arreglo_unidad[i].codigo_unidad">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Modulo.png" />
                                    <div class="progress ">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:@arreglo_unidad[i].porcentaje_modulo% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                            <h6 class="porcentaje">@arreglo_unidad[i].porcentaje_modulo%</h6>
                                        </div>
                                    </div>
                                    <span>@arreglo_unidad[i].nombre_unidad</span>
                                </div>
                            </button>
                        }
                    }
                }
                <button class="boton" href="#mostrarmodal2" data-toggle="modal">
                    <div class="content-btn" onclick="modal2()">
                        <img src="~/imagen_multimedia/Presentacion Docente.png" />
                        <span><strong>Información docente</strong></span>
                    </div>
                </button>

            }
            else
            {
                <a> Elija un Diplomado</a>
            }
        }
    </div>
    <!--Actividades-->
    <button class="contenercheck">
        <span>
            <p>Actividades</p>
        </span>
    </button>
    <div class="contener last" id="Actividades">
        @{
            if (TempData["mensaje10"] != null && usu != null)
            {
                TempData.Keep("mensaje10");
                string nc = Convert.ToString(TempData["mensaje10"]);
                arreglo_actividad = actividad.Consultar_Actividad_usuario(nc, usu.usuario);
                arreglo_examen = actividad.Consultar_examen_usuario(nc, usu.usuario);
                for (int i = 0; i < arreglo_actividad.Length; i++)
                {
                    if (i == 0)
                    {
                        <button type="submit" class="boton" name="irrrr" value="@arreglo_actividad[i].codigo_actividad">
                            <div class="content-btn">
                                <img src="~/imagen_multimedia/Actividad.png" />
                                <div class="progress ">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:@arreglo_actividad[i].porcentaje% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                        <h6 class="porcentaje">@arreglo_actividad[i].porcentaje%</h6>
                                    </div>
                                </div>
                                <span>@arreglo_actividad[i].nombre_actividad</span>
                            </div>
                        </button>
                    }
                    else
                    {
                        if (Convert.ToInt32(arreglo_actividad[i - 1].porcentaje) < 99)
                        {
                            //aqui debe ir la notificacion emergente
                            <button type="submit" class="boton" disabled="true" value="@arreglo_actividad[i].codigo_actividad">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Actividad.png" />
                                      <span >Actividad anterior pendiente</span>
                                    <span>@arreglo_actividad[i].nombre_actividad</span>
                                </div>
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="boton" name="irrrr" value="@arreglo_actividad[i].codigo_actividad">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Actividad.png" />
                                    <div class="progress ">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:@arreglo_actividad[i].porcentaje% ; box-shadow:-1px 0px 0px rgba(91, 192, 222, 0.7);">
                                            <h6 class="porcentaje">@arreglo_actividad[i].porcentaje%</h6>
                                        </div>
                                    </div>
                                    <span>@arreglo_actividad[i].nombre_actividad</span>
                                </div>
                            </button>
                        }
                    }
                }
                int a = Convert.ToInt32(arreglo_actividad.LongLength) - 1;
                for (int i = 0; i < arreglo_examen.Length; i++)
                {

                    if (a>=0)
                    {
                        if (Convert.ToInt32(arreglo_actividad[a].porcentaje) < 99)
                        {
                            //aqui debe ir la notificacion emergente
                            <button type="submit" class="boton" disabled="true" value="@arreglo_examen[i].id_examen">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Examen.png" />
                                    <span>Actividades pendientes</span>
                                    <span>@arreglo_examen[i].examen</span>
                                </div>
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="boton" name="irrrr5" value="@arreglo_examen[i].id_examen">
                                <div class="content-btn">
                                    <img src="~/imagen_multimedia/Examen.png" />
                                    <span>@arreglo_examen[i].examen</span>
                                </div>
                            </button>
                        }
                    }
                }
                if (a>=0)
                {
                    if (Convert.ToInt32(arreglo_actividad[a].porcentaje) < 99)
                    {
                        //aqui debe ir la notificacion emergente
                        <button class="boton" data-toggle="modal">
                            <div class="content-btn">
                                <img src="~/imagen_multimedia/Actividad.png" />
                                <span>Pendientes</span>
                                <span><strong>Subir Actividad</strong></span>
                            </div>
                        </button>
                    }
                    else
                    {
                        <button class="boton" href="#mostrarmodal3" data-toggle="modal">
                            <div class="content-btn">
                                <img src="~/imagen_multimedia/Actividad.png" />
                                <span><strong>Subir Actividad</strong></span>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <a> El Modulo no posee actividades para trabajar</a>
                }

            }
            else
            {
                <a> Elija un Modulo</a>
            }
        }
    </div>
    <!-- Modal de Registro-->
    @{
        if (ViewBag.mensaje == "exito")
        {
            @Scripts.Render("~/Scripts/modal_exito_subir.js")
        }
        <div class="modal fade" id="mostrarmodal4" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog" style="left: 22%;top: -3%;position: absolute;">
                <div class="modal-content1">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>La actividad fue subida exitosamente</h4>
                        <div>
                            <img class="perfil2" src="~/Imagenes/cropped-cemaq_logo2-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        if (TempData["mensaje9"] != null && usu != null)
        {
            TempData.Keep("mensaje9");
            string n = Convert.ToString(TempData["mensaje9"]);
            arreglo_docente = unidad.Consultar_docente_curso(n);
            if (arreglo_docente.Length > 0)
            {
                <div class="modal fade" id="mostrarmodal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog" style="left: 22%;top: -3%;position: absolute;">
                        <div class="modal-content1">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div>
                                    <img class="perfil1" src="~/Imagenes/@arreglo_docente[0].foto">
                                </div>
                                <div class="input-group4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 14px;left: 4%;">@arreglo_docente[0].nombre</label>
                                </div>
                                <div class="input-group5">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-graduation-cap" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 3px;left: -6%;">@arreglo_docente[0].escolaridad: @arreglo_docente[0].academica</label>
                                </div>
                                <div class="input-group6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 14px;left: 4%;">@arreglo_docente[0].email_persona</label>
                                </div>
                                <div>
                                    <img class="perfil2" src="~/Imagenes/cropped-cemaq_logo2-2.png">
                                </div>
                                <label class="label5">Docente de</label>
                                <label class="label6">@arreglo_docente[0].nombre_curso</label>
                                <label class="label7">Formación Virtual</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog" style="left: 22%;top: -3%;position: absolute;">
                        <div class="modal-content1">
                            <div class="modal-body">
                                <button type="submit" name="irmodal" class="btn" value="@n" style="float: right;margin-top: -15px;font-weight: bold;border-radius: 20px;">x</button>
                                <div>
                                    <h4 style="color: #080808;background-color: #ffffff91;text-align: center; width: 40%;">Docente</h4>
                                    <img class="perfil1" src="~/Imagenes/@arreglo_docente[0].foto">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 14px;left: 4%;">@arreglo_docente[0].nombre</label>
                                </div>
                                <div class="input-group2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-graduation-cap" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 3px;left: -6%;">@arreglo_docente[0].escolaridad: @arreglo_docente[0].academica</label>
                                </div>
                                <div class="input-group3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" style="color: #2f55a0;"></i> </span>
                                    </div>
                                    <label style="position: relative;margin-top: 14px;left: 4%;">@arreglo_docente[0].email_persona</label>
                                </div>
                                <div>
                                    <img class="perfil2" src="~/Imagenes/cropped-cemaq_logo2-2.png">
                                </div>
                                <label class="label4">@usu.Nombre</label>
                                <label class="label1">Bienvenido(a) al diplomado virtual en</label>
                                <label class="label2">@arreglo_docente[0].nombre_curso</label>
                                <label class="label3">Formación Virtual</label>
                            </div>
                        </div>
                    </div>
                </div>
                if (TempData["mensaje10"] != null && usu != null)
                {
                    TempData.Keep("mensaje10");
                    string nx = Convert.ToString(TempData["mensaje10"]);
                    <div class="modal fade" id="mostrarmodal3" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                        <div class="modal-dialog" style="left: 22%;top: -3%;position: absolute;">
                            <div class="modal-content1">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div>
                                        <img class="perfil1" src="~/Imagenes/@usu.foto">
                                    </div>
                                    <div class="input-group4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user" style="color: #2f55a0;"></i> </span>
                                        </div>
                                        <label style="position: relative;margin-top: 14px;left: 4%;">@usu.Nombre</label>
                                    </div>
                                    <div class="input-group5">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-graduation-cap" style="color: #2f55a0;"></i> </span>
                                        </div>
                                        <label style="position: relative;margin-top: 3px;left: -13%;">@usu.Tipo_rol: @arreglo_docente[0].nombre_curso</label>
                                    </div>
                                    <div class="input-group6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-envelope" style="color: #2f55a0;"></i> </span>
                                        </div>
                                        <label style="position: relative;margin-top: 14px;left: 4%;">@usu.correo</label>
                                    </div>
                                    <div>
                                        <img class="perfil2" src="~/Imagenes/cropped-cemaq_logo2-2.png">
                                    </div>
                                    <label class="label5">Subir Actividad:</label>
                                    <div class="subir">
                                        <input type="file" name="file" accept=".docx, .pdf" />
                                        <div class="form-group oculta" id="capa1">
                                            @Html.TextAreaFor(model => model.informacion_actividad, new { @class = "form-control", @placeholder = "Descripción del archivo (opcional)" })
                                        </div>
                                        <button type="submit" name="irarchivo" class="btn" value="@nx" style="float: right;">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }



    @{
        if (ViewBag.mensaje == "actividad")
        {
            <script> window.open ('@Url.Action("Actividades", "Actividades")'); </script>
        }
    }

</main>

}
<footer>
    <p> @DateTime.Now.Year - CEMAQ - Diplomados</p>
</footer>
<script src="~/Scripts/progresos.js" charset="utf-8"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
