@model Plataforma_academica.Models.Actividades

@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <link href="~/Estilos/principal.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/actividadesStyl1.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body onload="disabled">

        @{
            Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
            Plataforma_academica.Models.Actividades actividad = new Plataforma_academica.Models.Actividades();
            Plataforma_academica.Models.Actividades[] arreglo;
            int rol = Convert.ToInt32(usu.rol);

            if (usu != null)
            {
                if (rol > 3 && rol < 7)
                {
                    Plataforma_academica.Models.principalP act1 = Session["usuario3"] as Plataforma_academica.Models.principalP;
                    arreglo = actividad.Consultar_contenido_actividad(act1.codigo_actividad);
                    <h2>@Html.LabelFor(Model => arreglo[0].Nombre_actividad, arreglo[0].Nombre_actividad, new { @class = "" })</h2>//titulo actividad
                    if (arreglo[0].id_tipo_multimedia == "3")
                    {
                        @Html.LabelFor(Model => arreglo[0].descripcion, arreglo[0].descripcion, new { @class = "label" })
                    }
                    else
                    {
                        if (arreglo[0].id_tipo_multimedia == "2")
                        {
                            <p>@Html.LabelFor(Model => arreglo[0].descripcion, arreglo[0].descripcion, new { @class = "form-control", @id = "p" })</p>
                            <section>
                                <div class="container mt-4">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="card">
                                                <div class="card-block p-3">
                                                    <div>
                                                        <img src="~/Imagenes/@arreglo[0].url_multimedia" alt="Nature" disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        }
                        else
                        {
                            <section>
                                <div class="container mt-4">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="card">
                                                <div class="card-block p-3">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" src="@arreglo[0].url_multimedia"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        }
                    }//descripcion actividad
                    if (arreglo[0].titulo_seccion == null)
                    {
                    }
                    else
                    {
                        for (int i = 1; i < arreglo.Length; i++)
                        {
                            if (arreglo[i].titulo_seccion != null)
                            {
                                <section>
                                    <div class="card">
                                        <div class="card-block p-3">
                                            <article>
                                                <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                @Html.TextArea(arreglo[i].contenido_seccion, arreglo[i].contenido_seccion, new { @class = "form-control", @disabled = "true" })
                                            </article>
                                        </div>
                                    </div>
                                </section>
                            }
                            if (arreglo[i].id_tipo_multimedia == "1")
                            {
                                <section>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <div class="card">
                                                    <div class="card-block p-3">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe width="560" height="315" src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                            if (arreglo[i].id_tipo_multimedia == "2")
                            {
                                <section>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <div class="card">
                                                    <div class="card-block p-3">
                                                        <div>
                                                            <img src="@arreglo[i].url_multimedia" alt="Nature">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                            if (arreglo[i].id_tipo_multimedia == "4")
                            {
                                <section>
                                    <div class="card">
                                        <div class="card-block p-3">
                                            <audio controls>
                                                <source src="~/Audios/@arreglo[i].url_multimedia" type="audio/mp3" />
                                            </audio>
                                        </div>
                                    </div>
                                </section>
                            }
                        }

                    }
                }
                else //Para administrativos y docente, ingresar herramientas adicionales si es el caso.
                {
                    if (rol < 4 || rol >= 7)
                    {
                        Plataforma_academica.Models.principalP act2 = Session["usuario10"] as Plataforma_academica.Models.principalP;
                        arreglo = actividad.Consultar_contenido_actividad(act2.codigo_actividad);
                        <h2>@Html.LabelFor(Model => arreglo[0].Nombre_actividad, arreglo[0].Nombre_actividad, new { @class = "" })</h2>//titulo actividad
                        if (arreglo[0].id_tipo_multimedia == "3")
                        {
                            @Html.LabelFor(Model => arreglo[0].descripcion, arreglo[0].descripcion, new { @class = "label" })
                        }
                        else
                        {
                            if (arreglo[0].id_tipo_multimedia == "2")
                            {
                                <p>@Html.LabelFor(Model => arreglo[0].descripcion, arreglo[0].descripcion, new { @class = "form-control", @id = "p" })</p>
                                <section>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <div class="card">
                                                    <div class="card-block p-3">
                                                        <div>
                                                            <img src="~/Imagenes/@arreglo[0].url_multimedia" alt="Nature" disabled="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <section>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <div class="card">
                                                    <div class="card-block p-3">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="@arreglo[0].url_multimedia"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                        }//descripcion actividad
                        if (arreglo[0].titulo_seccion == null)
                        {
                        }
                        else
                        {
                            for (int i = 1; i < arreglo.Length; i++)
                            {
                                if (arreglo[i].titulo_seccion != null)
                                {
                                    <section>
                                        <div class="card">
                                            <div class="card-block p-3">
                                                <article>
                                                    <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                    @Html.TextArea(arreglo[i].contenido_seccion, arreglo[i].contenido_seccion, new { @class = "form-control", @disabled = "true" })
                                                </article>
                                            </div>
                                        </div>
                                    </section>
                                }
                                if (arreglo[i].id_tipo_multimedia == "1")
                                {
                                    <section>
                                        <div class="container mt-4">
                                            <div class="row">
                                                <div class="col-md-12 mb-4">
                                                    <div class="card">
                                                        <div class="card-block p-3">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe width="560" height="315" src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                }
                                if (arreglo[i].id_tipo_multimedia == "2")
                                {
                                    <section>
                                        <div class="container mt-4">
                                            <div class="row">
                                                <div class="col-md-12 mb-4">
                                                    <div class="card">
                                                        <div class="card-block p-3">
                                                            <div>
                                                                <img src="@arreglo[i].url_multimedia" alt="Nature">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                }
                                if (arreglo[i].id_tipo_multimedia == "4")
                                {
                                    <section>
                                        <div class="card">
                                            <div class="card-block p-3">
                                                <audio controls>
                                                    <source src="~/Audios/@arreglo[i].url_multimedia" type="audio/mp3" />
                                                </audio>
                                            </div>
                                        </div>
                                    </section>
                                }
                            }

                        }
                    }
                }
            }


        }


    </body>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
