@model Plataforma_academica.Models.Actividades

@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <link href="~/Estilos/principal.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/actividadesStyl1.css" rel="stylesheet" type="text/css">
    <link href="~/Estilos/paginaci.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Estilos/bookblock.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

@using (Html.BeginForm())
{
    int i = 0;
    @Html.AntiForgeryToken()

    <form id="regForm">
        <div class="bb-custom-wrapper">
            <div id="bb-bookblock" class="bb-bookblock">
                <nav>

                    <span id="bb-nav-next"> → </span>
                    <span id="bb-nav-prev"> ← </span>
                </nav>

                @{
                    Plataforma_academica.Models.Login usu = Session["usuario"] as Plataforma_academica.Models.Login;
                    Plataforma_academica.Models.principalP actividad1 = Session["usuario3"] as Plataforma_academica.Models.principalP;
                    Plataforma_academica.Models.Actividades actividad = new Plataforma_academica.Models.Actividades();
                    Plataforma_academica.Models.Actividades[] arreglo;
                    Plataforma_academica.Models.Actividades us = new Plataforma_academica.Models.Actividades();
                    int rol = Convert.ToInt32(usu.rol);
                    int seccion_actual = 0;
                    if (usu != null)
                    {
                        if (rol > 3 && rol < 7)
                        {
                            Plataforma_academica.Models.principalP act1 = Session["usuario3"] as Plataforma_academica.Models.principalP;
                            arreglo = actividad.Consultar_contenido_actividad(act1.codigo_actividad);
                            actividad.actual_seccion = actividad.Buscar_seccion_actual(actividad1.codigo_actividad, usu.usuario);
                            seccion_actual = Convert.ToInt32(actividad.actual_seccion.Rows[0]["seccion_leida"].ToString())-1;
                            for (i = 0; i < arreglo.Length; i++)
                            {
                                <!-- Tabs-->
                                <div class="bb-item">
                                    @{
                                        if (i == 0)
                                        {
                                            <h2>@Html.LabelFor(Model => arreglo[i].Nombre_actividad, arreglo[i].Nombre_actividad, new { @class = "" })</h2>
                                            if (arreglo[i].id_tipo_multimedia == "3")
                                            {
                                                <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                            }
                                            else
                                            {
                                                if (arreglo[i].id_tipo_multimedia == "2")
                                                {
                                                    <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                                    <section>
                                                        <div class="w3-animate-zoom">
                                                            <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                        </div>
                                                    </section>
                                                }
                                                else
                                                {
                                                    if (arreglo[i].descripcion != null)
                                                    {
                                                        <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                                        <section>
                                                            <div class="embed-responsive ">
                                                                <iframe class="embed-responsive-item" src="@arreglo[i].url_multimedia"></iframe>
                                                            </div>
                                                        </section>
                                                    }
                                                    else
                                                    {
                                                        <section>
                                                            <div class="embed-responsive ">
                                                                <iframe class="embed-responsive-item" src="@arreglo[i].url_multimedia"></iframe>
                                                            </div>
                                                        </section>
                                                    }

                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (arreglo[i].id_tipo_multimedia == "3")
                                            {
                                                <section>
                                                    <article>
                                                        <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@

                                                        <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>

                                                    </article>
                                                </section>
                                            }
                                            if (arreglo[i].id_tipo_multimedia == "1")
                                            {
                                                if (arreglo[i].contenido_seccion == "\r\n")
                                                {
                                                    <section>
                                                        <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                        <div class="embed-responsive1">
                                                            <iframe width="560" height="315" src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                                    </section>
                                                }
                                                else
                                                {
                                                    <section>
                                                        <article>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                        </article>
                                                    </section>
                                                    <section>
                                                        <div class="embed-responsive">
                                                            <iframe width="560" height="315" src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                                    </section>
                                                }
                                            }
                                            if (arreglo[i].id_tipo_multimedia == "2")
                                            {
                                                if (arreglo[i].contenido_seccion == "\r\n")
                                                {
                                                    <section>
                                                        <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                        <div class="w3-animate-zoom">
                                                            <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                        </div>
                                                    </section>
                                                }
                                                else
                                                {
                                                    <section>
                                                        <article>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                        </article>
                                                    </section>
                                                    <section>
                                                        <div class="w3-animate-zoom">
                                                            <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                        </div>
                                                    </section>
                                                }
                                            }
                                            if (arreglo[i].id_tipo_multimedia == "4")
                                            {
                                                if (arreglo[i].contenido_seccion == "\r\n")
                                                {
                                                    <section>
                                                        <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                        <audio controls>
                                                            <source src="~/imagen_multimedia/@arreglo[i].url_multimedia" type="audio/mp3" />
                                                        </audio>
                                                    </section>
                                                }
                                                else
                                                {
                                                    <section>
                                                        <article>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                        </article>
                                                    </section>
                                                    <section>
                                                        <audio controls>
                                                            <source src="~/imagen_multimedia/@arreglo[i].url_multimedia" type="audio/mp3" />
                                                        </audio>
                                                    </section>
                                                }
                                            }
                                        }
                                        int m = i + 1;
                                        <div>
                                            <span class="step">@m</span>
                                        </div>
                                    }

                                </div>
                            }

                        }
                        else
                        {
                            if (rol < 4 || rol >= 7)
                            {
                                Plataforma_academica.Models.principalP act2 = Session["usuario10"] as Plataforma_academica.Models.principalP;
                                arreglo = actividad.Consultar_contenido_actividad(act2.codigo_actividad);
                                for (i = 0; i < arreglo.Length; i++)
                                {
                                    <div class="bb-item">
                                        @{
                                            if (i == 0)
                                            {
                                                <h2>@Html.LabelFor(Model => arreglo[i].Nombre_actividad, arreglo[i].Nombre_actividad, new { @class = "" })</h2>
                                                if (arreglo[i].id_tipo_multimedia == "3")
                                                {
                                                    <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                                }
                                                else
                                                {
                                                    if (arreglo[i].id_tipo_multimedia == "2")
                                                    {
                                                        <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                                        <section>
                                                            <div class="w3-animate-zoom">
                                                                <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                            </div>
                                                        </section>
                                                    }
                                                    else
                                                    {
                                                        if (arreglo[i].descripcion != null)
                                                        {
                                                            <p>@Html.LabelFor(Model => arreglo[i].descripcion, arreglo[i].descripcion, new { @class = "form-control", @id = "p" })</p>
                                                            <section>
                                                                <div class="embed-responsive ">
                                                                    <iframe class="embed-responsive-item" src="@arreglo[i].url_multimedia"></iframe>
                                                                </div>
                                                            </section>
                                                        }
                                                        else
                                                        {
                                                            <section>
                                                                <div class="embed-responsive ">
                                                                    <iframe class="embed-responsive-item" src="@arreglo[i].url_multimedia"></iframe>
                                                                </div>
                                                            </section>
                                                        }

                                                    }
                                                }
                                            }
                                            else
                                            {
                                                if (arreglo[i].id_tipo_multimedia == "3")
                                                {
                                                    <section>
                                                        <article>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                        </article>
                                                    </section>
                                                }
                                                if (arreglo[i].id_tipo_multimedia == "1")
                                                {
                                                    if (arreglo[i].contenido_seccion == "\r\n")
                                                    {
                                                        <section>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <div class="embed-responsive ">
                                                                <iframe src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                        </section>
                                                    }
                                                    else
                                                    {
                                                        <section>
                                                            <article>
                                                                <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                                <!-- Html.TextArea("autosize", arreglo[i].contenido_seccion)-->
                                                                <textarea id="autosize1">@arreglo[i].contenido_seccion </textarea>
                                                            </article>
                                                        </section>
                                                        <section>
                                                            <div class="embed-responsive ">
                                                                <iframe src="@arreglo[i].url_multimedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                        </section>
                                                    }
                                                }
                                                if (arreglo[i].id_tipo_multimedia == "2")
                                                {
                                                    if (arreglo[i].contenido_seccion == "\r\n")
                                                    {
                                                        <section>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <div class="w3-animate-zoom">
                                                                <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                            </div>
                                                        </section>
                                                    }
                                                    else
                                                    {
                                                        <section>
                                                            <article>
                                                                <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                                <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                            </article>
                                                        </section>
                                                        <section>
                                                            <div class="w3-animate-zoom">
                                                                <img src="~/imagen_multimedia/@arreglo[i].url_multimedia" alt="Nature" disabled="true">
                                                            </div>
                                                        </section>
                                                    }
                                                }
                                                if (arreglo[i].id_tipo_multimedia == "4")
                                                {
                                                    if (arreglo[i].contenido_seccion == "\r\n")
                                                    {
                                                        <section>
                                                            <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                            <audio controls>
                                                                <source src="~/imagen_multimedia/@arreglo[i].url_multimedia" type="audio/mp3" />
                                                            </audio>
                                                        </section>
                                                    }
                                                    else
                                                    {
                                                        <section>
                                                            <article>
                                                                <h4>@Html.LabelFor(Model => arreglo[i].titulo_seccion, arreglo[i].titulo_seccion, new { @class = "" })</h4> @*titulo sub*@
                                                                <textarea id="autosize">@arreglo[i].contenido_seccion </textarea>
                                                            </article>
                                                        </section>
                                                        <section>
                                                            <audio controls>
                                                                <source src="~/imagen_multimedia/@arreglo[i].url_multimedia" type="audio/mp3" />
                                                            </audio>
                                                        </section>
                                                    }
                                                }
                                            }
                                            int m = i + 1;
                                            <div>
                                                <span class="step">@m</span>
                                            </div>
                                            if (i==(arreglo.Length-1) && arreglo[i].edicion_estado=="Pendiente")
                                            {
                                              <div>
                                                  <h5>Descripción para editar</h5>
                                                  @Html.TextAreaFor(model => model.edicion, new { @class = "form-control" })
                                                  <button type="submit" class="btn" name="iraprobado" value="@arreglo[i].id_actividad" style="box-shadow: 0 9px #999;border: 1px solid #212529;">Aprobado</button>
                                                  <button type="submit" class="btn" name="irdesaprobado" value="@arreglo[i].id_actividad" style="box-shadow: 0 9px #999;border: 1px solid #212529;">Desaprobado</button>
                                              </div>
                                            }
                                        }
                                    </div>

                                }
                            }
                          if (ViewBag.mensaje1 == "actualizacion" || ViewBag.mensaje1 == "actualizacion_")
                          {
                             @Scripts.Render("~/Scripts/actualizar.js")
                          }
                        }
                    }

                }
            </div>
            <div class="modal fade" id="mostrarmodal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog" style="position: initial;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 style="position: absolute;">Verificacion de proceso</h3>
                        </div>
                        <div class="modal-body">
                            <h4>@ViewBag.mensaje</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="/Seleccionar_para_subir_contenido/seleccionar_unidad_para_contenido" class="btn btn-danger">Finalizar verificacion</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botones-->
            <!-- Circles which indicates the steps of the form: -->
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.2.1/script/jquery.jscrollpane.min.js"></script>
    <script src="~/Scripts/jquery.bookblock.js"></script>
    <script>
        var Pagina = (function () {

            var $bookBlock = $('#bb-bookblock'),
                $items = $bookBlock.children(),
                itemsCount = $items.length,
                current = 0,
                currentaux = 0
                bb = $bookBlock.bookblock({
                    speed: 800,
                    perspective: 2000,
                    shadowSides: 0.8,
                    shadowFlip: 0.4,
                    onEndFlip: function (old, page, isLimit) {
                        current = page;
                        console.log("Current "  + current)
                        // updateNavigation
                        updateNavigation(isLimit);
                        setJSP('init');
                        AjustarTextArea()
                        // destroy jScrollPane on the content div for the old item
                        setJSP('destroy', old);

                    }
                }),
                $navNext = $('#bb-nav-next'),
                $navPrev = $('#bb-nav-prev').hide(),
                transEndEventNames = {
                    'WebkitTransition': 'webkitTransitionEnd',
                    'MozTransition': 'transitionend',
                    'OTransition': 'oTransitionEnd',
                    'msTransition': 'MSTransitionEnd',
                    'transition': 'transitionend'
                },
                transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
                supportTransitions = Modernizr.csstransitions;


            function init() {               
            
                    if(@rol>= 4 || @rol < 7){
                        current = @seccion_actual;
                        currentaux =@seccion_actual;
                       // Current tab is set to be the first tab (0)
                    }// Display the current tab

                console.log("Funciona")
                // initialize jScrollPane on the content div of the first item
                setJSP('init');
                initEvents();
                bb.jump(current);
            }

            function initEvents() {

                // add navigation events
                $navNext.on('click', function () {

                    bb.next();

                    if (@rol >= 4 || @rol < 7) {
                        console.log("Current " + current);
                        if (current+1 > currentaux) {
                            currentaux = current+1;
                            //&& (itemsCount - 1) > current
                        var url = "@Url.Action("porcentaje","Actividades")";
                        $.post(url).done(function(){

                        }).fail(manejaErrorAjax).always(function(){

                        });
                    }
                    }


                    return false;
                });

                $navPrev.on('click', function () {
                    bb.prev();


                    return false;
                });
                $items.on({
                    'swipeleft': function (event) {
                        if ($container.data('opened')) {
                            return false;
                        }
                        bb.next();
                        return false;
                    },
                    'swiperight': function (event) {
                        if ($container.data('opened')) {
                            return false;
                        }
                        bb.prev();
                        return false;
                    }
                });

                // reinit jScrollPane on window resize
                $(window).on('debouncedresize', function () {
                    // reinitialise jScrollPane on the content div
                    setJSP('reinit');
                });

            }


            function setJSP(action, idx) {

                var idx = idx === undefined ? current : idx,
                    $content = $items.eq(idx).children('div.content'),
                    apiJSP = $content.data('jsp');

                if (action === 'init' && apiJSP === undefined) {
                    $content.jScrollPane({ verticalGutter: 0, hideFocus: true });
                }
                else if (action === 'reinit' && apiJSP !== undefined) {
                    apiJSP.reinitialise();
                }
                else if (action === 'destroy' && apiJSP !== undefined) {
                    apiJSP.destroy();
                }

            }

            function updateNavigation(isLastPage) {

                if (current === 0) {
                    $navNext.show();
                    $navPrev.hide();
                }
                else if (isLastPage) {
                    $navNext.hide();
                    $navPrev.show();
                }
                else {
                    $navNext.show();
                    $navPrev.show();
                }

            }

            return { init: init };

        })();

    </script>

    <script>
        Pagina.init();
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}