@model Plataforma_academica.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    @*<link href="~/Estilos/loginStyle1.css" rel="stylesheet" type="text/css">*@
    <link href="~/Estilos/Login.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width" />
    <title>CEMAQ - Inicio Sesión</title>
    <link rel="icon" type="image/gif" href="~/Imagenes/CAPYBARA_TOGA.png">
    <script src="~/Scripts/login_campos.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/4bc98977ba557db3b2f5bb66bff54e25?family=Champagne+&+Limousines" rel="stylesheet" type="text/css" />


</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#pais").chosen();
            $("#departamento").chosen();
            $("#municipio").chosen();
        });
    </script>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container register">
            <div class="row">
                <!--Izquierda-->
                <div class="register-left">
                    <img src="~/Imagenes/Iconos/Logo CEMAQ.png" alt=""/> 
                                       
                    <div class="campos" >
                            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario *", @id = "usuario" } })
                            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Contraseña", @id = "contraseña" } })
                            @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                            <input type="submit" value="Iniciar Sesión" name="iniciar" class="btn btn-primary btn-round btn-lg btn-block" id="envia" />
                    </div>
                </div>
                <!--Derecha-->
                <div class="register-right">

                    <div class="tab-content" id="myTabContent">
                        @*<img src="~/Imagenes/Temporal/smallant.gif" />*@  
                        <h3 class="register-heading">Regístrate</h3>
                        <div class="register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.tipo_doc, (IEnumerable<SelectListItem>)ViewData["lista1"], "TIPO DOCUMENTO *", htmlAttributes: new { @class = "form-control" })
                                </div>
                                
                                <div class="form-group">
                                    @Html.EditorFor(model => model.nombre1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres *", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.nombre1, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="form-group">
                                    @Html.EditorFor(model => model.nombre2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Segundo Nombre" } })
                                    @Html.ValidationMessageFor(model => model.nombre2, "", new { @class = "text-danger" })
                                </div>*@
                                
                                <div class="form-group">
                                    @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Segundo Apellido", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.estado_civil, (IEnumerable<SelectListItem>)ViewData["lista8"], "ESTADO CIVIL *", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.tipo_sanguineo, (IEnumerable<SelectListItem>)ViewData["lista10"], "GRUPO SANGUINEO *", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.pais, (IEnumerable<SelectListItem>)ViewData["lista4"], "PAÍS RESIDENCIA *", new { @class = "form-control", id = "pais" })
                                </div>
                                <div class="form-group mun">
                                    @Html.DropDownListFor(model => model.municipio, (IEnumerable<SelectListItem>)ViewData["lista6"], "MUNICIPIO *", new { @class = "form-control", id = "municipio" })
                                </div>
                                <div class="form-group">
                                    @{
                                        string x = DateTime.Now.ToString("yyyy-MM-dd");
                                    }
                                    @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @type = "date", @class = "form-control", @max = x.ToString() } })
                                    @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
                                    <h6>Fecha de nacimiento *</h6>
                                                               </div>
                                <div class="form-group mun">
                                    <label><a href="#" style="color:#1005ad;" data-toggle="modal" data-target="#myModal">Acepta los Terminos y Condiciones </a><input type="checkbox" id="curso" onclick="myFunction()" /></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "N° IDENTIFICACION *", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Primer Apellido *", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @type = "email", @class = "form-control", @placeholder = "Correo *", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.genero, (IEnumerable<SelectListItem>)ViewData["lista7"], "GENERO *", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.tipo_pobla, (IEnumerable<SelectListItem>)ViewData["lista3"], "TIPO POBLACIÓN *", new { @class = "form-control" })
                                </div>
                               
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.departamento, (IEnumerable<SelectListItem>)ViewData["lista5"], "DEPARTAMENTO *", new { @class = "form-control", id = "departamento" })
                                </div>                    
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.escolaridad, (IEnumerable<SelectListItem>)ViewData["lista9"], "NIVEL ESCOLARIDAD *", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "N° Telefono *", @Style = "text-transform:uppercase" } })
                                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">                                                                      
                                    <input type="submit" value="Enviar" name="subir1" disabled class="btn btn-primary btn-round btn-lg btn-block" id="envia1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (ViewBag.mensaje == "datos incorrectos")
        {
            @Scripts.Render("~/Scripts/Emerentelogin.js")
        }
        else
        {
            if (ViewBag.mensaje == "Exito")
            {
                @Scripts.Render("~/Scripts/Emerentelogin.js")
            }
            else
            {
                if (ViewBag.mensaje == "No se registro el usuario")
                {
                    @Scripts.Render("~/Scripts/Emerentelogin.js")
                }
            }
        }
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog" style="position: initial;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Verificación del Proceso</h4>
                    </div>
                    <div class="modal-body">
                        <h5>@ViewBag.mensaje2</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog" style="position: initial;">
                <div class="modal-content" >
                    <div class="modal-header" >
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Términos y Condiciones</h3>
                    </div>
                    <div class="modal-body">
                        <h6>
                            <p class="titulo">
                                CENTRO DE ESTUDIOS MULTICULTURAL AMAZONICO CEMAQ S.A.S.
                            </p>
                            <p>
                                informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través del sitio Web https://www.cemaq.com.co
                            </p>
                            <p>
                                En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
                            </p>
                            <p>
                                El uso de sitio Web implica la aceptación de esta Política de Privacidad, así como las condiciones incluidas en el Aviso Legal.
                            <p>
                            <p class="titulo">
                                IDENTIDAD DEL RESPONSABLE
                            </p>
                            <p>- TITULAR: CENTRO DE ESTUDIOS MULTICULTURAL AMAZONICO CEMAQ S.A.S.</p>

                            <p>- INSTITUTO DE EDUCACION TECNICA Y PROFESIONAL</p>

                            <p>- NIF/CIF/NIT: 901322254-4</p>

                            <p>- Domicilio: Florencia Caquetá – Colombia 180001</p>

                            <p>- Correo electrónico: gerencia@cemac.com.co</p>

                            <p>- Sitio Web: https://www.cemaq.com.co</p>
                            <p class="titulo">
                                PRINCIPIOS APLICADOS EN EL TRATAMIENTO DE DATOS
                            </p>
                            <p>
                                En el tratamiento de tus datos personales, el Titular aplicará los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos:
                            </p>
                            <p>- Principio de licitud, lealtad y transparencia: El Titular siempre requerirá el consentimiento para el tratamiento de tus datos personales que puede ser para uno o varios fines específicos sobre los que te informará previamente con absoluta transparencia.</p>
                            <p>- Principio de minimización de datos: El Titular te solicitará solo los datos estrictamente necesarios para el fin o los fines que los solicita.</p>
                            <p>- Principio de limitación del plazo de conservación: Los datos se mantendrán durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. El Titular te informará del plazo de conservación correspondiente según la finalidad. En el caso de suscripciones, el Titular revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo considerable.</p>
                            <p>- Principio de integridad y confidencialidad: Tus datos serán tratados de tal manera que su seguridad, confidencialidad e integridad esté garantizada. Debes saber que el Titular toma las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.</p>

                            <p class="titulo">
                                OBTENCIÓN DE DATOS PERSONALES
                            </p>
                            <p>
                                Para navegar por https://www.cemaq.com.co no es necesario que facilites ningún dato personal. Los casos en los que sí proporcionas tus datos personales son los siguientes:
                            </p>
                            <p>
                                ELIMINA LOS QUE NO USES:
                            </p>
                            <p>- Al contactar a través de los formularios de contacto o enviar un correo electrónico.</p>
                            <p>- Al realizar un comentario en un artículo o página.</p>
                            <p>- Al inscribirte en un formulario de suscripción o un boletín que el Titular gestiona con MailChimp.</p>
                            <p>- Al inscribirte en un formulario de suscripción o un boletín que el Titular gestiona con MailRelay.</p>
                            <p>- Al inscribirte en un formulario de suscripción o un boletín que el Titular gestiona con SendinBlue.</p>
                            <p>- Al crear el usuario y contraseña personal en la plataforma: https://diplomados-cemaq.azurewebsites.net/Login/Login</p>

                            <p class="titulo">
                                TUS DERECHOS
                            </p>
                            <p>
                                El Titular te informa que sobre tus datos personales tienes derecho a:
                            </p>
                            <p>
                                - Solicitar el acceso a los datos almacenados.
                            </p>
                            <p>
                                - Solicitar una rectificación o la cancelación.
                            </p>
                            <p>
                                - Solicitar la limitación de su tratamiento.
                            </p>
                            <p>
                                - Oponerte al tratamiento.
                            </p>
                            <p>
                                - Solicitar la portabilidad de tus datos.
                            </p>
                            <p>
                                El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado, solicitándolo directamente al Titular, lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado sus datos en algún momento puede dirigirse al Titular y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos, solicitar la portabilidad de sus datos personales, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros del Titular.
                            </p>
                            <p>
                                Para ejercitar tus derechos de acceso, rectificación, cancelación, portabilidad y oposición tienes que enviar un correo electrónico a gerencia@cemaq.com.co junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.
                            </p>
                            <p>
                                Tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si consideras que el tratamiento de datos personales que te conciernen infringe el Reglamento.
                            </p>
                            <p class="titulo">
                                FINALIDAD DEL TRATAMIENTO DE DATOS PERSONALES
                            </p>
                            <p>
                                Cuando te conectas al sitio Web para mandar un correo al Titular, te suscribes a su boletín o realizas una contratación, estás facilitando información de carácter personal de la que el responsable es el Titular. Esta información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por superadmin.es, sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.
                                Los datos personales y la finalidad del tratamiento por parte del Titular son diferente según el sistema de captura de información:

                            </p>
                            <p class="titulo">
                                ELIMINA LOS QUE NO USES:
                            </p>

                            <p>
                                - Formularios de contacto: El Titular solicita datos personales entre los que pueden estar: Nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección de tu sitio Web con la finalidad de responder a tus consultas.
                                Por ejemplo, el Titular utiliza esos datos para dar respuesta a tus mensajes, dudas, quejas, comentarios o inquietudes que puedas tener relativas a la información incluida en el sitio Web, los servicios que se prestan a través del sitio Web, el tratamiento de tus datos personales, cuestiones referentes a los textos legales incluidos en el sitio Web, así como cualquier otra consulta que puedas tener y que no esté sujeta a las condiciones del sitio Web o de la contratación.
                            </p>
                            <p>
                                - Formularios de suscripción a contenidos: El Titular solicita los siguientes datos personales: Nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección de tu sitio web para gestionar la lista de suscripciones, enviar boletines, promociones y ofertas especiales.
                                Los datos que facilites al Titular estarán ubicados en los servidores de The Rocket Science Group LLC d/b/a, con domicilio en EEUU. (Mailchimp).
                            </p>
                            <p>
                                Existen otras finalidades por las que el Titular trata tus datos personales:
                            </p>
                            <p>
                                - Para garantizar el cumplimiento de las condiciones recogidas en el Aviso Legal y en la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayuden a este sitio Web a garantizar la confidencialidad de los datos personales que recoge.
                            </p>
                            <p>
                                - Para apoyar y mejorar los servicios que ofrece este sitio Web.
                            </p>
                            <p>
                                - Para analizar la navegación. El Titular recoge otros datos no identificativos que se obtienen mediante el uso de cookies que se descargan en tu ordenador cuando navegas por el sitio Web cuyas caracterísiticas y finalidad están detalladas en la Política de Cookies .
                            </p>
                            <p>
                                - Para gestionar las redes sociales. el Titular tiene presencia en redes sociales. Si te haces seguidor en las redes sociales del Titular el tratamiento de los datos personales se regirá por este apartado, así como por aquellas condiciones de uso, políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso y que has aceptado previamente.
                            </p>
                            <p>
                                Puedes consultar las políticas de privacidad de las principales redes sociales en estos enlaces:
                            </p>
                            <p class="titulo">
                                ELIMINA LOS QUE NO USES:
                            </p>
                            <p>
                                - Facebook
                            </p>
                            <p>
                                - Twitter
                            </p>
                            <p>
                                - Linkedin
                            </p>
                            <p>
                                - YouTube
                            </p>
                            <p>
                                - Instagram
                            </p>
                            <p>
                                - WhatsApp
                            </p>
                            <p>
                                El Titular tratará tus datos personales con la finalidad de administrar correctamente su presencia en la red social, informarte de sus actividades, productos o servicios, así como para cualquier otra finalidad que las normativas de las redes sociales permitan.
                            </p>
                            <p>
                                En ningún caso el Titular utilizará los perfiles de seguidores en redes sociales para enviar publicidad de manera individual.
                            </p>
                            <p class="titulo">
                                SEGURIDAD DE LOS DATOS PERSONALES
                            </p>
                            <p>
                                Para proteger tus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
                            </p>
                            <p>
                                El sitio Web está alojado en PROVEEDOR DE ALOJAMIENTO WEB. La seguridad de tus datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello. Puedes consultar su política de privacidad para tener más información.
                            </p>
                            <p class="titulo">
                                CONTENIDO DE OTROS SITIOS WEB
                            </p>
                            <p>
                                Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si hubieras visitado la otra web.
                                Estos sitios Web pueden recopilar datos sobre ti, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar tu interacción usando este código.
                            </p>
                            <p class="titulo">
                                POLÍTICA DE COOKIES
                            </p>
                            <p>
                                Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en tu navegador web.
                            </p>
                            <p>
                                En la página Política de Cookies puedes consultar toda la información relativa a la política de recogida, la finalidad y el tratamiento de las cookies.
                            </p>
                            <p class="titulo">
                                LEGITIMACIÓN PARA EL TRATAMIENTO DE DATOS
                            </p>
                            <p>
                                La base legal para el tratamiento de tus datos es: el consentimiento.
                                Para contactar con el Titular, suscribirte a un boletín o realizar comentarios en este sitio Web tienes que aceptar la presente Política de Privacidad.
                            </p>
                            <p class="titulo">
                                CATEGORÍAS DE DATOS PERSONALES
                            </p>
                            <p>
                                Las categorías de datos personales que trata el Titular son:
                            </p>
                            <p>
                                - Datos identificativos.
                            </p>
                            <p class="titulo">
                                CONSERVACIÓN DE DATOS PERSONALES
                            </p>
                            <p>
                                Los datos personales que proporciones al Titular se conservarán hasta que solicites su supresión.
                            </p>
                            <p class="titulo">
                                DESTINATARIOS DE DATOS PERSONALES
                            </p>
                            <p>
                                ELIMINA LOS QUE NO USES:
                            </p>
                            <p>
                                - Mailrelay CPC Servicios Informáticos Aplicados a Nuevas Tecnologías S.L. (en adelante “CPC”) , con domicilio social en C/ Nardo, 12 28250 – Torrelodones – Madrid.
                                Encontrarás más información en: https://mailrelay.com
                                CPC trata los datos con la finalidad de prestar sus servicios de email el Titulareting al Titular.

                            </p>
                            <p>
                                - Mailchimp The Rocket Science Group LLC d/b/a , con domicilio en EEUU.
                                Encontrarás más información en: https://mailchimp.com
                                The Rocket Science Group LLC d/b/a trata los datos con la finalidad de prestar sus servicios de email el Titulareting al Titular.

                            </p>
                            <p>
                                - SendinBlue SendinBlue, sociedad por acciones simplificada (société par actions simplifiée) inscrita en el Registro Mercantil de París con el número 498 019 298, con domicilio social situado en 55 rue d’Amsterdam, 75008, París (Francia).
                                Encontrarás más información en: https://es.sendinblue.com
                                SendinBlue trata los datos con la finalidad de ofrecer soluciones para el envío de correos electrónicos, SMS transaccionales y de el Titulareting al Titular.
                            </p>
                            <p>
                                - Google Analytics es un servicio de analítica web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Encontrarás más información en: https://analytics.google.com
                                Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar al Titular a analizar el uso que hacen los usuarios del sitio Web. La información que genera la cookie acerca del uso del sitio Web (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.
                            </p>
                            <p>
                                - DoubleClick by Google es un conjunto de servicios publicitarios proporcionado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).
                                Encontrarás más información en: https://www.doubleclickbygoogle.com
                                DoubleClick utiliza “cookies”, que son archivos de texto ubicados en tu ordenador y que sirven para aumentar la relevancia de los anuncios relacionados con tus búsquedas recientes. En la Política de privacidad de Google se explica cómo Google gestiona tu privacidad en lo que respecta al uso de las cookies y otra información.
                            </p>
                            <p>
                                También puedes ver una lista de los tipos de cookies que utiliza Google y sus colaboradores y toda la información relativa al uso que hacen de cookies publicitarias.
                            </p>
                            <p class="titulo">
                                NAVEGACIÓN WEB
                            </p>
                            <p>
                                Al navegar por https://www.cemaq.com.co se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no pueden ser utilizados para identificarte.
                            </p>
                            <p>
                                El sitio Web utiliza los siguientes servicios de análisis de terceros:
                            </p>
                            <p>
                                ELIMINA LOS QUE NO USES:
                            </p>
                            <p>
                                - Google Analytics
                            </p>
                            <p>
                                - DoubleClick por Google
                            </p>
                            <p>
                                El Titular utiliza la información obtenida para obtener datos estadísticos, analizar tendencias, administrar el sitio, estudiar patrones de navegación y para recopilar información demográfica.
                            </p>
                            <p class="titulo">
                                EXACTITUD Y VERGHACIDAD DE LOS DATOS PERSONALES
                            </p>
                            <p>Te comprometes a que los datos facilitados al Titular sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.</p>
                            <p>Como Usuario del sitio Web eres el único responsable de la veracidad y corrección de los datos que remitas al sitio exonerando a el Titular de cualquier responsabilidad al respecto.</p>
                            <p class="titulo">ACEPTACIÓN Y CONSENTIMIENTO</p>
                            <p>Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptas y consientes el tratamiento de los mismos por parte de el Titular en la forma y para las finalidades indicadas en esta Política de Privacidad.</p>
                            <p class="titulo">REVOCABILIDAD</p>
                            <p>Para ejercitar tus derechos de acceso, rectificación, cancelación, portabilidad y oposición tienes que enviar un correo electrónico a gerencia@cemac.com.co junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.</p>
                            <p>El ejercicio de tus derechos no incluye ningún dato que el Titular esté obligado a conservar con fines administrativos, legales o de seguridad.</p>
                            <p class="titulo">CAMBIOS EN LA POLÍTICA DE PRIVACIDAD</p>
                            <p>El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.</p>
                            <p>Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.</p>
                        </h6>
                    </div>
                    <div class="modal-footer" >
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
   }
    <script>
            function myFunction() {
                var checkBox = document.getElementById("curso");
                if (checkBox.checked == true) {
                    document.getElementById("envia1").disabled = false;
                } else {
                    document.getElementById("envia1").disabled = true;
                }
            }
    </script>
    <script>

    $(document).ready(function () {
        $('#myModal').on('shown.bs.modal', function () {
            });
     });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
</body>
</html>